@model LostAndFound.Data.Models.LostFoundReport

@{
    ViewBag.Title = "Lost Pets";

}

<div class="row">
      
    @*<div class="form-group" id="petDateLost">
        @Html.LabelFor(m => m.Date, new {@class= "font-normal"})
        <div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.TextBoxFor(m => m.Date, new { @class = "form-control datepicker" })
        </div>
    </div>*@
   
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Lost pet</h5>
              
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Config option 1</a>
                        </li>
                        <li>
                            <a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <h2>
                    Report a lost pet
                </h2>
                <p>
                    Please follow the steps to report a lost pet.
                </p>
                <form id="form" action="#" class="wizard-big">
                    <h1>Basic</h1>
                    <fieldset>
                        <h2>Basic Information</h2>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Pet.Name, new { @class = "font-normal" })
                                    @Html.TextBoxFor(m => m.Pet.Name, new {@class = "form-control required"})
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Pet.Type, new {@class="font-normal"})
                                    <input id="petType" name="petType" type="text" class="form-control required">
                                </div>
                             
                                <div class="form-group" id="petDateLost">
                                    @Html.LabelFor(m => m.Date, new {@class= "font-normal"})
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        @Html.TextBoxFor(m => m.Date, new { @class = "form-control datepickertextbox" })
                                    </div>
                                  
                                </div>
                               
                                
                                <div class="form-group clockpicker" data-autoclose="true">
                                    <label class="font-normal">Time</label>
                                    <div class="input-group date">
                                        <span class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                    
                                    <input type="text" class="form-control" value="@DateTime.Now.ToShortTimeString()">
                                    </div>
                                </div>
                                 
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Location.FormattedLocation, new { @class = "font-normal" })
                                    @Html.TextBoxFor(m => m.Location.FormattedLocation, new {@class = "form-control required"})
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="text-center">
                                    <div style="margin-top: 20px">
                                        <i class="fa fa-sign-in" style="font-size: 180px; color: #e5e5e5"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <h1>Detailed</h1>
                    <fieldset>
                        <h2>Detailed Information</h2>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>First name *</label>
                                    <input id="name" name="name" type="text" class="form-control required">
                                </div>
                                <div class="form-group">
                                    <label>Last name *</label>
                                    <input id="surname" name="surname" type="text" class="form-control required">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Email *</label>
                                    <input id="email" name="email" type="text" class="form-control required email">
                                </div>
                                <div class="form-group">
                                    <label>Address *</label>
                                    <input id="address" name="address" type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <h1>Warning</h1>
                    <fieldset>
                        <div class="text-center" style="margin-top: 120px">
                            <h2>You did it Man :-)</h2>
                        </div>
                    </fieldset>
                    <h1>Finish</h1>
                    <fieldset>
                        <h2>Terms and Conditions</h2>
                        <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
}
@section Scripts {
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")
    @Scripts.Render("~/plugins/clockpicker")

    <script type="text/javascript">

        $(document).ready(function () {
          
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });

            $(".datepickertextbox").datepicker({
                todayBtn: "linked",
                keyboardNavigation: true,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $('.clockpicker').clockpicker();
        });
    </script>
}
